* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TT Lakes', sans-serif;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1120px;
    height: 100vh;
    background-color: #f8f8f8;
}

header {
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    min-width: 320px;
    background-color: #fff;
}

.navigate {
    height: 88px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.navigate__left-block, .navigate__right-block {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
    margin-left: 24px;
}

.navigate__right-block {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
    margin: 0 24px;
}

.navigate__button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 0;
    background-color: #FF3E79;
}

.navigate__button:hover {
    cursor: pointer;
    background-color: #c91d51;
}

.navigate__item img {
    vertical-align: middle;
}

main {
    background-color: #F8F8F8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.container__title {
    font-size: 28px;
    line-height: 40px;
    height: 40px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.container__title:before {
    content: "";
    border-left: 3px solid #41F6D7;
    border-radius: 5px;
    margin-right: 24px;
    margin-left: -24px;
    overflow: hidden;
}

.container__navigate {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.container__link{
    height: 40px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    white-space: nowrap;
}

.container__link:hover {
    background-color: #fff;
    border-radius: 5px;
}

.container__link a {
    color: #7E7E82;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    align-self: center;
}

.container__link_active {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
}

.container__description {
    display: flex;
    justify-content: space-between;
}

.container__text {
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    margin: 24px;
}

.container__image {
    width: 50%;
    margin-top: 24px;
    margin-right: 24px;
}

.container__image figure {
    text-align: center;
}

.container__read-more {
    cursor: pointer;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    border: none;
    background-color: unset;
}

.container__read-more:before {
    content: url("/img/svg/expand.svg");
    margin-right: 15px;
    vertical-align: middle;
    width: 10px;
    display: inline-block;
}

@media (max-width: 320px), (min-width: 320px) and (max-width: 768px) {
    .navigate__left-block, .navigate__right-block {
        margin-left: 16px;
    }

    .navigate__right-block {
        margin: 0 16px;
    }

    .navigate__left-block .navigate__item:nth-child(2) {
        display: none;
    }

    .navigate__right-block .navigate__item:nth-child(1), 
    .navigate__right-block .navigate__item:nth-child(2), 
    .navigate__right-block .navigate__item:nth-child(3) {
        display: none;
    }

    .container__title {
        margin-left: 16px;
        margin-right: 16px;
    }

    .container__title:before {
        margin-right: 16px;
        margin-left: -16px;
    }

    .container__list {
        display: none;
    }

    .container__navigate {
        flex-wrap: nowrap;
        overflow: overlay;
        margin-left: 16px;
        margin-right: 16px;
    }

    .container__navigate::-webkit-scrollbar {
        width: 0;
    }

    .container__description {
        flex-wrap: wrap;
    }

    .container__text {
        width: 100%;
        margin: 24px 16px;
    }

    .container__image {
        width: 100%;
        margin: 0 auto;
    }

    .container__image img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1120px) {
    .container__list {
        display: none;
    }

    .container__navigate {
        flex-wrap: nowrap;
        overflow: overlay;
    }

    .container__navigate::-webkit-scrollbar {
        width: 0;
    }

    .container__image img {
        width: 100%;
    }
}

@media (min-width: 1120px) {
    header {
        display: none;
    }

    .container__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 42px;
    }

    .container__title {
        margin-top: 0;
    }

    .container__list {
        display: flex;
        align-items: flex-end;
        list-style: none;
        gap: 24px;
        margin-right: 24px;
    }

    .container__list-item {
        font-weight: 500;
    }

    .container__list-item span {
        cursor: pointer;
        padding: 5px;
        vertical-align: middle;
    }
}